@charset "utf-8";
/*秒杀、抢购列表页*/
.list dl dt{
	background-color: #666;
	width: 100%;
	height: 30px;
	color: #fff;
	overflow: hidden;
	margin-top: 5px;
}
.list dl dt h5{
	float: left;
	width: 35%;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	line-height: 30px;
}
.list dl dt .time{
	float: right;
	margin-right: 5px;
	line-height: 30px;
}
.list dl dt .time em{
	background-color: #333;
	padding: 3px;
	border-radius: 3px;
}
.list dl dt .start-time{
	float: left;
	color: #fff;
	line-height: 30px;
	font-size: 13px;
}
.list dl dd{
	border-bottom: 1px solid #ddd;
	margin: 0 5px;
	overflow: hidden;
	padding: 10px 0;
}
.list dl dd .item-img{
	overflow: hidden;
	float: left;
	width: 35%;
	text-align: center;
}
.list dl dd .item-con{
	float: left;
	width: 65%;
}
.item-con h3{
	font-size: 15px;
	height: 45px;
	overflow: hidden;
	margin: 10px 0;
}
.item-con .item-desc{
	overflow: hidden;
}
.item-con .item-desc .price{
	float: left;
}
.item-con .item-desc .buy-link{
	float: right;
}
.item-desc .price-new{
	color: #fc353a;
	font-size: 20px;
	font-weight: bold;
}
.item-desc .price-old{
	color: #999;
	font-size: 12px;
	text-decoration: line-through;
}
.buy-link input{
	float: right;
	width: 75px;
	height: 30px;
	color: #fff;
	padding: 0;
	border: none;
	font-size: 14px;
}
.buy-link input.on{
	background-color: #fc353a;
}
.buy-link input.off{
	background-color: #666;
}
.buy-link .sales{
	clear: both;
	color: #999;
}
.sales .percent{
	display: inline-block;
	width: 75px;
	height: 5px;
	border: 1px solid #fc353a;
	border-radius: 20px;
	overflow: hidden;
}
.sales .percent em{
	display: block;
	height: 5px;
	background-color: #f66;
}
