@charset "utf-8";
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	border: 0 none;
	margin: 0;
	padding: 0
}
body {
	font: 400 12px/1.5 微软雅黑, Verdana, simsun, Sans-Serif,;
	font-size: 12px;
	color: #333;
	background: #f2f2f2
}
.n_b, fieldset, img {
	border: 0
}
a {
	color: #333
}
:focus {
	outline: 0
}
address, caption, cite, code, dfn, em, optgroup, strong, th, var {
	font-style: normal;
	font-weight: 400
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
button, input, optgroup, option, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	-webkit-appearance: none
}
code, kbd, samp, tt {
	font-size: 100%
}
body {
	line-height: 1.5
}
ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
sub, sup {
	font-size: 100%;
	vertical-align: baseline
}
:link, :visited, ins {
	text-decoration: none
}
blockquote, q {
	quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}
address, h1, h2, h3, h4, h5, h6, i, li, span {
	Font-style: normal;
	font-weight: 400
}
.clear:after, .clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.bfff .page {
	background-color: #fff
}
.bfff {
	background-color: #fff
}
.all_bg {
	background: url(../images/all_bg.png) 0 0 no-repeat;
	display: inline-block;
	overflow: hidden;
	background-size: 225px 310px
}
.all_bg_daishou {
	background: url(../images/all_bg_daishou.png) no-repeat;
	background-size: 439px 400px;
	display: inline-block
}
.topfixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8
}
.topfixed2 {
	left: 0;
	position: fixed;
	top: 45px;
	width: 100%;
	z-index: 8;
	background: #f2f2f2
}
.btmfixed {
	left: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 8
}
.m_tp45 {
	margin-top: 45px
}
.header {
	background: #3A94FD;
	padding: 0 10px;
	height: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	color: #fff;
	z-index: 1;
	font-family: 微软雅黑
}
.a_city {
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	width: 25%;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	text-align: left
}
.a_city.a_city1 {
	width: 25%
}
.a_city i {
	float: left;
	height: 19px;
	margin-top: 12px;
	width: 15px
}
.a_city span {
	font-size: 14px
}
.header h2 {
	color: #fff;
	font-size: 17px;
	left: 50%;
	margin: 0 auto 0 -25%;
	overflow: hidden;
	overflow-wrap: normal;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 55%;
	font-weight: 400;
	height: 45px;
}
.header p.bfff{
	position: absolute;
	top: 50%;
	left: 25%;
	margin-top: -15px;
	width: 55%;
	height: 30px;
	line-height: 30px;
	color: #999;
	border-radius: 10px;
}
.header p.bfff span{
	display: inline-block;
	width: 80%;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.header i.search{
	display: block;
  width: 18px;
  height: 18px;
  background-position: -68px 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
}
.header i.search-white{
  width: 18px;
  height: 18px;
  background-position: -68px -24px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  margin-left: 5px;
}
.header h2 span.chosen{
	display: inline-block;
	max-width: 73%;
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.header .a-back {
	position: absolute;
	display: block;
	width: 40px;
	height: 44px;
	left: 15px
}
.header .a-back:before {
	border: #fff solid 2px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.a_in {
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 20%
}
#allin {
	background-color: #000;
	display: none;
	left: 0;
	opacity: .5;
	position: fixed;
	top: 0;
	z-index: 9
}
#titleDiv1 {
	z-index: 10;
	position: fixed;
	background: #fff
}
.bar.header {
	background-color: #3a94fd
}
.bar.header h1 {
	color: #fff
}
.bar.header .icon {
	color: #fff
}
.header .header-right-a {
	color: #fff;
	font-size: 12px;
	line-height: 2.2rem;
	position: absolute;
	right: 10px;
	z-index: 1
}
.footer a.cur {
	color: #3C95FE
}
.footer .wjsq i {
	display: block;
	margin: 7px auto 0;
	width: 25px;
	height: 23px;
	background-position: 0 -156px
}
.footer .wd i {
	display: block;
	margin: 7px auto 0;
	width: 21px;
	height: 23px;
	background-position: 0 -210px
}
.footer .hsh i {
	display: block;
	margin: 7px auto 0;
	width: 22px;
	height: 23px;
	background-position: 0 -263px
}
.footer .dyzj i {
	display: block;
	margin: 7px auto 0;
	width: 20px;
	height: 23px;
	background-position: -33px -158px
}
.footer .wjsq.cur i {
	background-position: 0 -130px
}
.footer .wd.cur i {
	background-position: 0 -183px
}
.footer .hsh.cur i {
	background-position: 0 -238px
}
.footer .dyzj.cur i {
	background-position: -33px -132px
}
.footer span {
	line-height: 18px;
	font-size: 12px;
	display: block
}
.banner {
	width: 100%;
	background: #eee url(../images/jzt.png) no-repeat scroll center center/74px 74px;
	margin-bottom: 6px;
	min-height: 129px
}
.banner img {
	display: block;
	height: auto;
	line-height: 1;
	margin: 0 auto;
	width: 100%
}
.index-category.swiper-slide {
	height: 164px;
}
.index-category {
	width: 100%;
	background: #fff;
	padding: 10px 0 0;
	margin-bottom: 6px;
	position: relative;
}
.ul-list {
	overflow: hidden;
	text-align: center;
	font-family: 微软雅黑;
	padding-bottom: 10px;
}
.ul-list li {
	color: #666;
	display: inline-block;
	float: left;
	font-size: 14px;
	margin-bottom: 10px;
	width: 25%
}
.ul-list.ul-list-50 li {
	width: 50%
}
.ul-list li a {
	color: #666;
	display: block
}
.ul-list li i {
	width: 40px;
	height: 40px;
	display: inline-block
}
.ul-list li span {
	display: block
}
.itemlist {
	width: 100%;
	background: #fff;
	margin-bottom: 6px
}
.itemtop {
	border-bottom: 1px solid #e5e5e5;
	height: 35px;
	line-height: 35px;
	overflow: hidden
}
.itemtop h3 {
	border-left: 6px solid #1888e6;
	font-size: 14px;
	height: 20px;
	line-height: 1.8;
	margin-left: 10px;
	margin-top: 7px;
	padding-left: 8px
}
.iteminfo {
	padding: 0 0 0 20px
}
.infolist {
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5
}
.n_bd {
	border-bottom: none
}
.infolist a.notice {
	background-position: right 0
}
.infolist a.live {
	background-position: right -47px
}
.infolist a.a01 {
	width: 45px;
	height: 45px;
	float: left;
	position: relative
}
.iteminfo dl {
	width: 82%;
	float: right
}
.infolist dl dt .index-date {
	float: right
}
.iteminfo dl span {
	color: #333
}
.iteminfo dl dt {
	font-size: 14px;
	margin: 5px 0;
	width: 95%
}
.iteminfo dl dd {
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
	height: 22px;
	line-height: 22px;
	font-size: 13px
}
.infolist a.a01 i.cur {
	background: red none repeat scroll 0 0;
	border-radius: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	z-index: 1
}
.fr {
	float: right
}
div.LoadingStyle {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 0;
	margin-left: -16px;
	display: none;
	z-index: 11100
}
div.LoadingStyle img {
	width: 32px;
	height: 32px
}
.btn-tj {
	padding: 0 15px;
	margin: 20px 0
}
.btn-tj a {
	font-size: 16px;
	width: 100%;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #3a94fd;
	border-radius: 4px;
	text-align: center
}
.btn-tj span {
	font-size: 16px;
	width: 100%;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #3a94fd;
	border-radius: 4px;
	text-align: center
}
.btn-tj.two span {
	width: 49%
}
.btn-tj .btn-all {
	background: #3a94fd none repeat scroll 0 0;
	border: medium none;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 45px;
	width: 100%
}
.pull-left-change {
	float: left
}
.bar .button.pull-left-change {
margin-right:.5rem
}
.bar .button-nav.pull-left-change {
margin-left:-.25rem
}
.bar .button-nav.pull-left-change .icon-left-nav {
margin-right:-.15rem
}
#bg-gray {
	background-color: #333;
	display: none;
	left: 0;
	opacity: .7;
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	position: fixed;
	top: 0;
	z-index: 2001
}
.xq-modal {
	width: 272px;
	height: 130px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -136px;
	margin-top: -50px;
	z-index: 2002;
	background: #fff
}
.xq-modal .modal-msg {
	height: 91px;
	line-height: 91px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0
}
.xq-modal .modal-msg.two {
	line-height: 25px;
	font-size: 16px;
	padding-top: 20px
}
.xq-modal p.modal-btn {
	margin: 0;
	overflow: hidden
}
.xq-modal .modal-btn span {
	display: block;
	float: left;
	width: 49%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 14px
}
.xq-modal .modal-btn span.yes {
	border-right: 1px solid #ddd;
	color: #3b93fd
}
.xq-modal .modal-btn span.one {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #3b93fd
}
.st-add {
	width: 100%;
	padding: 25px 15px 5px;
	margin-bottom: 15px;
	background-color: #fff
}
.st-add .ssq-flex {
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	-o-box-pack: justify;
	box-pack: justify
}
.st-add li.ssq-input {
	border: 1px solid #dfdfdf;
	height: 38px;
	position: relative;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 2px
}
.st-add li.ssq-input select {
	background: rgba(0,0,0,0) none repeat scroll 0 0;
	border: medium none;
	color: #ccc;
	height: 37px;
	padding: 0;
	text-indent: 7px;
	width: 100%;
	font-size: 14px;
	border-radius: 4px
}
.st-add li.ssq-input input {
	background: rgba(0,0,0,0) none repeat scroll 0 0;
	border: medium none;
	color: #ccc;
	height: 37px;
	padding: 0;
	text-indent: 7px;
	-moz-padding-start: 11px;
	width: 100%;
	font-size: 14px;
	border-radius: 4px
}
.st-add li.ssq-input:before {
	display: none
}
.st-add li.ssq-input.w32 {
	width: 31%
}
.st-add li.ssq-input.w32 input {
	width: 85%
}
.st-add.mt10 {
	margin-top: 10px;
}
.st-add.pt15 {
	padding-top: 15px;
}
.main .add-btn {
	width: 100%;
	height: 50px;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 2001
}
.main .add-btn span {
	background-color: #3994fc;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	width: 100%;
	font-family: 微软雅黑
}
.drop-box {
	height: 38px;
	margin: 12px;
	background-color: #fff;
	border-radius: 3px
}
.drop-box label {
	display: block;
	float: left;
	width: 12%;
	height: 38px;
	line-height: 36px;
	text-align: center;
	color: #666;
	font-size: 14px
}
.drop-box label i.all_bg {
	display: block;
	width: 17px;
	height: 20px;
	background-position: -17px top;
	margin: 9px
}
.drop-box span {
	display: block;
	float: left;
	height: 38px;
	color: #bbb;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap
}
header.header.saomiao-header {
	background: rgba(0,0,0,.3) none repeat scroll 0 0
}
header.header.saomiao-header a {
	color: #fff
}
header.header.saomiao-header h1 {
	color: #fff;
	font-size: 18px;
	font-weight: 400
}
.saomiao-a {
	width: 100%;
	height: 2.2rem;
	line-height: 2.2rem;
	background: rgba(0,0,0,.3) none repeat scroll 0 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	text-decoration: underline;
	color: #fff
}
.saomiao-a a {
	color: #fff;
	font-size: 18px
}
.swiper-slide img {
	display: block;
	margin: 0 auto;
	width: 100%
}
.swiper-container.swiper-container-change {
	padding-bottom: 6px
}
.swiper-container-change .swiper-pagination-bullet {
	background: #eee
}
.button-left-w-change {
	width: 35px
}
.nodata-img img {
	display: block;
	margin: 45px auto;
	width: 112px;
	height: 118px
}
.nodata-p {
	text-align: center;
	margin: 0;
	font-size: 16px
}
.nodata-btn {
	display: block;
	width: 80%;
	height: 35px;
	color: #fff;
	background-color: #3D96FE;
	border: none;
	border-radius: 5px;
	margin: 20px auto;
	font-size: 16px;
	text-align: center;
	line-height: 35px
}
.address {
	background-color: #fff;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding: 10px 0 13px 10px;
	overflow: hidden;
}
.address .jf-img {
	float: left;
	width: 55px;
	height: 55px;
	border: 1px solid #ddd;
	border-radius: 3px
}
.address .jf-img img {
	margin: 6px 2px
}
.address .jf-info {
	float: right;
	margin-left: 3%;
	width: 77%
}
.jf-info .name {
	display: block;
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
	height: 30px;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #333
}
.jf-info .detail {
	margin-top: 5px;
	height: 20px;
	color: #656565;
	font-size: 14px;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap
}
.delete {
	position: absolute;
	top: 0;
	right: 5px;
	height: 30px;
	width: 30px;
	padding: 12px 0 0 12px
}
.delete i {
	display: block;
	width: 12px;
	height: 14px;
	margin-top: 3px;
	background-position: -38px 0;
	z-index: 1
}
i.check {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 14px;
	border: 1px solid #3994FC;
	margin-right: 1rem
}
i.unchecked {
	background: url(../images/unchecked.png) 0 0 no-repeat;
	background-size: 16px 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 15px;
	margin-top: 12px;
}
i.checked.unchecked {
	background: url(../images/checked.png) 0 0 no-repeat;
	background-size: 16px 16px;
}
i.checked {
	background: url(../images/checked.png) -1px -1px no-repeat;
	background-size: 16px 16px
}
.mywait-list ul {
	background: #fff;
	border-top: 1px solid #dbdbdb;
}
.mywait-list ul li {
	border-bottom: 1px solid #DDD;
	/*height: 56px;*/
	margin: 0 1rem;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 13px;
	position: relative;
	overflow: hidden;
}
.footer-content-1 {
	width: 100%;
	background-color: #fff;
	height: 44px;
	line-height: 44px;
	color: #656565;
	font-family: 微软雅黑;
	border-top: 1px solid #ddd
}
.footer-content-1 .check-box {
	float: left
}
.footer-content-1 .check {
	float: left
}
.footer-content-1 .all {
	float: left
}
.footer-content-1 .price-box {
	float: right
}
.footer-content-1 .hj {
	float: left
}
.footer-content-1 .Num {
	float: left;
	color: #FF5B11;
	font-size: 16px;
	margin-right: 5px;
}
.footer-content-1 .button-jf {
	height: 44px;
	float: right;
	background: #3A95FD;
	width: 5rem;
	text-align: center;
	color: #fff;
	font-size: 14px
}
.df-moreimg img {
	display: block;
	margin: 50px auto 20px;
	width: 141px;
	height: 73px
}
.df-morep {
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: #656565
}
.actions-modal-group.jianpan-button, .actions-modal-group.jianpan-modal {
margin:.2rem
}
.jianpan-modal .actions-modal-button {
	width: 33.33333%;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #474747;
	border-right: 1px solid #d2d2d6;
	min-height: 2.2rem
}
.jianpan-modal .actions-modal-button:first-child, .jianpan-modal .actions-modal-button:last-child {
	border-radius: 0
}
.jianpan-modal .actions-modal-button .del {
	display: block;
	width: 24px;
	height: 16px;
	background-position: -134px 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -11px;
	margin-top: -7px
}
@media (max-width:365px) {
.scroll-part .scroll-logo {
	height: 50px;
	width: 120px
}
.visa-item .visa-container .visa-content {
	background-size: cover
}
}
@media (max-width:320px) {
.scroll-part .scroll-bottom p {
	font-size: 14px;
	margin-right: 17px
}
.visa-item .visa-container .visa-content {
	background-size: contain
}
}
@media (max-width:289px) {
.visa-item .visa-container .visa-content {
	background-size: contain
}
}
.hbzf-jfaddress.address .jf-img {
	margin-top: 13px
}
.hbzf-jfaddress .detail>span.wp15 {
	float: left;
	width: 15%;
	max-width: 42px;
}
.hbzf-jfaddress .detail>select {
	float: left;
	width: 85%;
	background-color: transparent;
	border: none;
	position: relative;
	z-index: 10;
}
.hbzf-jfaddress .jf-info .detail {
	position: relative;
}
.hbzf-jfaddress .icon-down {
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.hbzf-jflist .wait-list {
	margin-bottom: 10px
}
.hbzf-jflist .wait-list dl {
	border-top: 1px solid #dbdbdb;
}
.hbzf-jflist .wait-list dt {
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom: 1px solid #dbdbdb;
	padding: 0 13px 0 30px
}
.hbzf-jflist .wait-list dd {
	line-height: 2.3rem;
	border-bottom: 1px solid #dbdbdb;
	margin-left: 30px;
	padding: 0 18px 0 5px;
	position: relative;
	overflow: hidden;
}
.hbzf-jflist .wait-list dd:last-child {
	border-bottom: none
}
.hbzf-jflist .wait-list dd .ellipsis {
	width: 60%;
	overflow: hidden;
	height: 46px;
	float: left;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hbzf-jflist .wait-list dd .remark {
	float: left;
	color: #f00;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	width: 100%;
}
.hbzf-jflist .wait-list dt i.wy-icon {
	width: 28px;
	height: 25px;
	vertical-align: middle;
	margin-top: -5px;
	background-position: -35px -186px
}
.hbzf-jflist .wait-list dt i.car-icon {
	width: 35px;
	height: 29px;
	vertical-align: middle;
	margin-top: -5px;
	background-position: -35px -216px
}
.hbzf-jflist .wait-list dt i.other-icon {
	width: 26px;
	height: 24px;
	vertical-align: middle;
	margin-top: -5px;
	background-position: -34px -33px
}
.fl {
	float: left
}
.mr10 {
	margin-right: 10px
}
.hbzf-jflist .wait-list dt.n_bd {
	border-bottom: none
}
.hbzf-jflist .parking-list li {
	margin: 0;
	border-bottom: none;
	height: auto;
	line-height: 2rem;
	color: #666;
	position: relative;
	clear: both;
}
.hbzf-jflist .parking-list li i.check.mr5 {
	margin-top: 10px;
}
.hbzf-jflist .wait-list .parking-list li .ellipsis {
	height: 40px;
}
.footer-content-1.btm0 {
	bottom: 0
}
.footer-content-1.btm0 .hj {
	margin-left: 5px;
	font-size: 13px;
}
/*随机立减*/
.btn-tj span.btn-white {
	background-color: #fff;
	color: #3a94fd;
	border: 1px solid #3a94fd;
}
.yz-dailing .yz-label.w75 {
	width: 75px;
}
.sjlj-order .itemtop h3 {
	font-size: 15px;
	line-height: 20px;
}
.yz-dailing .sjlj-order .fr {
	position: static;
	margin-top: 0;
}
.f14 {
	font-size: 15px;
	color: #333;
}
.sjlj-order .warn {
	font-size: 14px;
}
/*首页icon滑动*/
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #007aff;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}
.store-choice {
	line-height: 40px;
	background-color: #fff;
	font-size: 14px;
	overflow: hidden;
}
.store-choice i.check {
	vertical-align: top;
	margin: 11px 5px 0 10px;
	float: left;
}
.mywait-list .store-choice i.check {
	vertical-align: top;
}
.store-choice span {
	display: inline-block;
	float: left;
	width: 75%;
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.store-choice .phone {
	float: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 6px;
}
.store-choice .phone a {
	display: block;
	width: 27px;
	height: 27px;
	background-position: -34px -64px;
}
.hbzf-jflist p.mess {
	width: 70%;
	margin: 0 auto 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.cfzf-mess {
	background-color: #fff;
	height: 35px;
	line-height: 35px;
	margin-bottom: 12px;
 padding: 0 .5rem 0 1rem;
	font-size: 10px;
	color: #999;
	overflow: hidden;
	overflow-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cfzf-mess .tit {
	color: #666;
}
.cfzf-mess em {
	color: #FF5B11;
}
.cfzf-mess.f11 {
	font-size: 11px;
}
.cfzf-mess.bordert {
	border-top: 1px solid #dbdbdb;
}
.cfzf-mess.p010 {
	padding: 0 10px;
}
i.check.mr5 {
	margin-right: 5px;
	vertical-align: text-bottom;
	float: left;
	margin-top: 15px;
}
.vm {
	vertical-align: middle;
}
.icon-build.m0, .icon-water.m0, .icon-elec.m0, .icon-other.m0 {
	margin: 0;
}
/*小区高级搜索*/
.st-add li.ssq-input.high-search select {
	width: 70%;
}
.st-add li.ssq-input.high-search span {
	display: block;
	float: right;
	color: #41adfb;
	width: 25%;
	line-height: 37px;
	font-size: 14px;
	text-align: center;
}
#bg-gray.high-search-bg {
	top: 2.2rem;
}
.high-search-modal {
	width: 90%;
	height: 85%;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	position: fixed;
	top: 3rem;
	left: 5%;
	z-index: 2002;
	background: #f1f1f1;
	overflow-y: scroll;
}
.high-search-modal i.close {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px;
	position: absolute;
	top: 0;
	right: 0;
	background-position: -144px -19px;
}
.search-box {
	height: 38px;
	margin: 12px;
	background-color: #fff;
	border-radius: 3px;
	position: relative
}
.search-box input {
	display: block;
	float: left;
	border: none;
	width: 85%;
	height: 38px;
	line-height: 38px;
	color: #bbb;
	margin-left: 5px;
	font-size: 14px
}
.search-box span {
	display: inline-block;
	width: 13%;
	height: 38px;
	float: left
}
.search-box i.all_bg {
	display: block;
	width: 18px;
	height: 18px;
	background-position: -68px 0;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px
}
.cityList {
	font-size: 14px;
	color: #474747;
	width: 90%;
	position: relative
}
.cityList dl dt {
	font-size: 13px;
	color: #A7A7A7;
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
	background: #F1F1F1;
	border-bottom: 1px solid #dfdfdf
}
.cityList dl dd {
	padding-left: 15px;
	height: 35px;
	color: #A5A5A5;
	line-height: 35px;
	background: #fff;
	border-bottom: 1px solid #dfdfdf
}
.cityList dl dd a {
	color: #666;
	float: left;
	width: 92%;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.xq-main .fujin {
	width: 100%
}
.xq-main .fujin dl dd {
	height: 35px;
	line-height: 35px
}
.xq-main .fujin dl dd a {
	width: 85%
}
.fujin span {
	display: block;
	float: left;
	width: 15%;
	color: #666
}
.high-search-modal .search-box {
	border: 1px solid #dbdbdb;
	height: 40px;
	margin-top: 25px;
}
.high-search-modal .cityList {
	width: 100%;
	margin-bottom: 20px;
}
.high-search-modal .cityList dl dd span {
	width: 100%;
	color: #666;
	float: left;
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.not-find .tit {
	font-size: 13px;
	color: #A7A7A7;
	margin: 0;
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
	background: #F1F1F1;
}
.not-find .con {
	font-size: 14px;
	color: #999;
	margin: 15px;
}
.idbox{ width:88%; margin:0 auto;}
.idbox p {
	width: 100%;
	margin: 10% auto;
	font-size: 14px;
}
.id-input {
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	padding: 0 5px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	border-radius:4px;
	color:#999;
	 font-size:14px;
}
.gray{
	color: #999;
}
.f18{
	font-size: 18px;
}
.ad-modal{
	background-color: #f4f4f4;
	margin: 0 15px;
	padding: 30px 20px;
}
.ad-modal p{
	text-align: center;
	color: #ffae00;
	font-size: 14px;
}
.ad-index{
	width: 80%;
	position: absolute;
	top: 20%;
	left: 10%;
	z-index: 2002;
}
.ad-index i.close{
	width: 20px;
	height: 20px;
	background-position: -91px -18px;
	position: absolute;
	top: 5px;
	right: 5px;
}
