@charset "utf-8";
/*会员中心首页*/
.common-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.head-img {
	color: #fff;
	position: relative;
	width: 100%;
	background: #DB002F;
	height: 100px;
}
.head-img .my-info {
	margin: 0 0 0 15px;
	z-index: 20;
	position: relative;
}
.head-img .my-img-wrap {
	display: inline-block;
	height: 75px;
	margin: 10px 0 0 0;
	position: relative;
	vertical-align: middle;
	width: 75px;
}
.head-img .my-img {
	border-radius: 50%;
	display: inline-block;
	height: 75px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 75px;
	z-index: 1;
}
.head-img .my-img img {
	width: 100%;
	height: 100%;
}
.head-img .my-person-info {
	display: inline-block;
	width: 72%;
	float: right;
}
.my-head-number {
	font-size: 17px;
	line-height: 17px;
	margin-top: 35px;
}
.my-head-number p {
	padding-left: 10px;
}
.my-head-number .bd-top {
	border-top: 1px solid #fff;
	font-size: 14px;
	margin-top: 8px;
	padding-top: 8px;
	width: 100%;
}
.head-meassage {
	position: absolute;
	right: 15px;
	top: 10px;
	text-align: center;
}
.head-meassage i {
	display: block;
	background-position: -221px -38px;
	height: 24px;
	width: 28px;
}
.my-content {
	margin-top: 10px;
}
.my-item {
	padding: 15px 0 10px;
	background: #fff;
	display: -webkit-box;
	margin-bottom: 10px;
}
.my-item a {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: 1%;
}
.my-item a.last {
	border-left: 1px solid #999;
}
.myID-part {
	font-size: 0;
	position: relative;
	text-align: center;
}
.myID-img {
	display: block;
	height: 40px;
	margin: 0 auto 4px;
	position: relative;
	width: 40px;
}
.myID-img img {
	height: 100%;
	width: 100%;
}
.myID-text {
	color: #232326;
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 4px;
	text-align: center;
}
.my-item.my-item2 a {
	float: left;
	-moz-box-flex: 0;
	width: 20%;
}
